html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-left: 10px;
}

p {
    padding: 12px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin-top: -10px;
}

.btn {
    height: 100px;
    width: 80%;
    border-radius: 20px;
    border: 5px solid #0C2C52;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #0C2C52;
}

.test {
    text-align: center;
    padding: 30px 0;
}

.container {
    max-width: 70%;
    margin: auto;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

/*NAV*/

#logo {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    padding-left: 20px;
    margin: 0;
    font-size: 50px;
    color: #DCF0F7;
}

.topnav {
    background-color: #0C2C52;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    text-align: center;
    line-height: 90px;
    padding: 0 30px 0 30px;
    text-decoration: none;
    font-size: 20px;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    color: #DCF0F7;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right {
    float: right;
}

.topnav-left {
    float: left;
}

#myVideo {
    width: 100%;
    margin-bottom: -10px;
}

/*NAV*/

/*CONTENT*/

.flexbox {
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    border: 2px solid #0C2C52;
    height: 300px;
}

.about {
    background-color: #DCF0F7;
    width: 50%;
}

.trafficlights {
    background-color: #5E9DC8;
    width: 25%;
}

.parallax {
    background-color: #5E9DC8;
    width: 25%;
}

.events {
    background-color: #5E9DC8;
    width: 40%;
}

.animation {
    background-color: #5E9DC8;
    width: 25%;
}

.cinemagraph {
    background-color: #5E9DC8;
    width: 25%;
}

.balloon {
    background-color: #DCF0F7;
    width: 50%;
}

#balloon {
    position: relative;
    font-size: 50px;
    margin-left: -10px;
    margin-top: 0px;
    text-align: center;
    padding: 20px 0;
}

.loop {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


/*CONTENT*/

/*QUERIES*/

@media screen and (max-width: 1200px) {

    .topnav-right {
        width: 100%;
        padding: 0 300px 0 100px;
        float: left;
        text-align: center;
    }
    .about {
        width: 60%;
    }
    p {
        margin-top: -20px;
    }
    .parallax {
        width: 40%;
    }
    .trafficlights {
        width: 33.333%;
    }
    .animation {
        width: 33.333%;
    }
    .cinemagraph {
        width: 33.333%;
    }
    .balloon {
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    .about {
        width: 75%;
    }
    .parallax {
        width:25%;
    }
    .trafficlights {
        width: 50%;
    }
    .animation {
        width: 50%;
    }
    .cinemagraph {
        width: 50%;
    }
    .balloon {
        width: 50%;
    }
}

@media screen and (max-width: 800px){
    .about {
        width: 100%;
    }
    .parallax {
        width: 100%;
    }
    .trafficlights {
        width: 100%;
    }
    .animation {
        width: 100%;
    }
    .cinemagraph {
        width: 100%;
    }
    .balloon {
        width: 100%;
    }
}

/*QUERIES*/
