html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
}

.container {
    max-width: 70%;
    margin: auto;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

/*NAV*/

#logo {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    padding-left: 20px;
    margin: 0;
    font-size: 50px;
    color: #DCF0F7;
}

.topnav {
    background-color: #0C2C52;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    text-align: center;
    line-height: 90px;
    padding: 0 30px 0 30px;
    text-decoration: none;
    font-size: 30px;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    color: #DCF0F7;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right {
    float: right;
}

.topnav-left {
    float: left;
}

#myVideo {
    width: 100%;
    margin-bottom: -10px;
}

/*NAV*/

/*CONTENT*/

.flexbox {
    width: 100%;
    box-sizing: border-box;
    min-height: 200px;
    padding-left: 10px;
    border: 2px solid #0C2C52;
}

.about {
    background-color: #DCF0F7;
    width: 50%;
    height: 300px;
}

.trafficlights {
    background-color: #5E9DC8;
    width: 25%;
}

.parallax {
    background-color: #5E9DC8;
    width: 25%;
}

.events {
    background-color: #5E9DC8;
    width: 40%;
}

.animation {
    background-color: #5E9DC8;
    width: 25%;
    height: 300px;
}

.cinemagraph {
    background-color: #5E9DC8;
    width: 25%;
}

.balloon {
    background-color: #DCF0F7;
    width: 50%;
}

#balloon {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.loop {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


/*CONTENT*/

/*QUERIES*/

@media screen and (max-width: 1200px) {
    .about {
        width: 33.3%;
    }
    .parallax {
        width: 33.3%;
    }
    .trafficlights {
        width: 33.3%;
    }
    .events {
        width: 50%;
    }
    .animation {
        width: 50%;
    }
}

@media screen and (max-width: 900px){
    .about {
        width: 50%;
    }
    .parallax {
        width: 50%;
    }
    .trafficlights {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    .about {
        width: 100%;
    }
    .parallax {
        width: 100%;
    }
    .trafficlights {
        width: 100%;
    }
    .events {
        width: 100%;
    }
    .animation {
        width: 100%;
    }
    .cinemagraph {
        background-color: #ffae00;
        width: 100%;
    }

    .video {
        background-color: darkmagenta;
        width: 100%;
    }
}

/*QUERIES*/
